<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-dz-settingspage"
    version="1.0.0">
	<name>SettingsPage</name>
	<description>Cordova Phaser.io Settings Page Plugin</description>
	<license>Apache 2.0</license>
	<keywords>cordova,plugin,phaser,cordova-android,cordova-ios,cordova-browser,settings</keywords>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/settingsPage.js" name="settingsPage">
		<runs/>
	</js-module>
</plugin>
